.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
}

.fLists{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fList{
    list-style: none;
    padding: 0;
}
.fListItem{
    margin-bottom: 10px;
    color: #3aa323;
    font-family: "Gotham Rounded", sans-serif;
    cursor: pointer;

}

.fText{
    margin-bottom: 10px;
    color: #3aa323;
    font-family: "Gotham Rounded", sans-serif;
    cursor: pointer;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #3aa323; */
    width: 100%;
 
}


/* MEDIA QUERIES */
@media only screen and (max-device-width: 425px) 
/* and (min-device-width: 640px)  */
/* and (-webkit-device-pixel-ratio: 2)  */
{
    .footer{
  width: 592px;
  /* overflow: hidden; */

 }
}



























